<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Task Manager{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
  <nav class='navbar is-dark'>
    <div class='navbar-brand'>
      <a href="{% url 'tasks:task_list' %}" class="navbar-item">Task Captain</a>
      <span class="navbar-burger burger" data-target='navMenu'>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div class="idnavMenu" class='navbar-menu'>
      <div class="navbar-end">
        <div class="navbar-item block">

          {% if user.is_authenticated %}
            <a class='button is-small' href="{% url 'tasks:task_list' %}">Tasks</a>
            <a class='button is-small ' href="{% url 'users:logout' %}">Logout</a>
          {% else %}
            <a class='button is-small' href="{% url 'users:login' %}">Login</a>
            <a class='button is-small ' href="{% url 'users:register' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <section class='section'>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </section>

</body>
</html>